{% extends 'base.html' %}

{% block content %}

    <div>{{message}}</div>

    <h1>Purchases refund requests:</h1>

    <div>
        {% for refund in page_obj %}
        <div>
            {{ refund.purchase }}
            <form method="post" action="{% url 'adminrefund_process' %}">
                {% csrf_token %}
                <input type="hidden" name="pk" value="{{refund.pk}}">
                <input type="submit" value="approve" name="approval">
                <input type="submit" value="decline" name="approval">
            </form>
        </div>
        <br>
        {% endfor %}
    </div>

    {% include 'pagination.html' %}

    {% if page_obj %}
        <form method="post" action="{% url 'adminrefund_process' %}">
            {% csrf_token %}
            <input type="submit" value="APPROVE all" name="approve-all">
            <input type="submit" value="DECLINE all" name="decline-all">
        </form>
    {% endif %}


{% endblock %}
